.cat_zztut {
    background-color: #555555;
    margin: 1em;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 3em;
    margin-right: 10em;
}

.sidebar-zztut {
    background-color: #444444;
    width: 130px;
    position: absolute;
    z-index: 1;
    top: 3.5em;
    right: 0;
    overflow-x: hidden;
    padding: 8px 0;
    margin-right: 1em;
}